
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/sweetalert2/src/sweetalert2";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}

.panel {
  background-color: #222;
}
.panel-default>.panel-heading {
  color: #fff;
}
.panel-success>.panel-heading {
  color: #fff;
  background-color: #17b117;
  border-color: #0f770f;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #adadad;
}
.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-brand {
  color: #fff;
}
.nav-tabs>li.active>a {
  color: #fff;
}

.form-control {
  background-color: #333;
}
.form-control, output {
  color: #cdcdcd;
}

.btn-default {
  background-color: #333;
}

.list-group-item {
  background-color: #333;
}

.pagination>.disabled>span {
  color: #fff;
  background-color: #333;
  border-color: #444;
}

.pagination>li>a, .pagination>li>span {
  color: #fff;
  background-color: #333;
  border: 1px solid #444;
}

.footer {
  position: fixed;
  z-index: 4;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #222;
  border-top: 1px solid #404346;
}
.container .text-muted {
  margin: 16px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.table-filter {
	background-color: #222;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #333;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 3%;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .server-photo {
	width: 35px;
  margin-right: 10px;
}
.table-filter .server-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .server-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .server .title {
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .server .xbox {
	color: #17b117;
}
.table-filter .server .playstation {
	color: #0061ff;
}
.table-filter .server .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .server .title span.green {
	color: #5cb85c;
}
.table-filter .server .title span.yellow {
	color: #f0ad4e;
}
.table-filter .server .title span.red {
	color: #d9534f;
}
.table-filter .server .summary {
	font-size: 14px;
}
.table-filter .server .server-body .server-rates {
	font-size: 12px;
  margin: 0;
}
